body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #e0e0e0;
    color: #000000;
    padding: 20px;
    text-align: center;
    

}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

section {
    padding: 20px;
}

.title h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.project-columns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.column:hover {
    transform: translateY(-5px);
}

.column h3 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.project-list {
    list-style-type: none;
    padding: 0;
}

.project-list li {
    margin: 10px 0;
}

.project-list a {
    text-decoration: none;
    color: #0abe88; /* Bright green */
    transition: color 0.3s;
}

.project-list a:hover {
    color: #ff4500; /* OrangeRed for hover effect */
    text-decoration: underline;
}